/** our custom css of orvisoft pvt.

**/

label {
    clear: both;
	line-height: 30px;
}
.col.col-4.input {
    border: 2px solid #c0c2c7;
    border-radius: 3px;
    height: 30px;
	width: 80%;
}
.orb-form > button {
    clear: both;
    float: left;
}
section {
    float: left;
    width: 46%;
}
.col.col-4.input.last {
    width: 53%;
}
#last-section {
    width: 70%;
}
.orb-form{
	margin: 20px 0 30px 90px;
}
#last-section > button {
    float: right;
}
.input-box {
    border: 2px solid #c0c2c7;
    border-radius: 2px;
	width: 220px;
	height: 25px;
	padding: 4px 10px;
}
select {
    width: 170px;
}
.btn{
	margin-top: 18px;
}
.container_form {
    background: #fff none repeat scroll 0 0;
    border-radius: 15px;
    margin: 20px 100px 0 80px;
    padding: 10px 0;
}
