/** our custom css of orvisoft pvt.

**/

label {
    clear: both;
	line-height: 30px;
}
.col.col-4.input {
    border: 2px solid #c0c2c7;
    border-radius: 3px;
    height: 30px;
	width: 80%;
}
.orb-form > button {
    clear: both;
    float: left;
}
section {
    float: left;
    width: 46%;
}
.col.col-4.input.last {
    width: 53%;
}
#last-section {
    width: 70%;
}
.orb-form{
	margin: 20px 0 30px 90px;
}
#last-section > button {
    float: right;
}
.input-box {
    border: 2px solid #c0c2c7;
    border-radius: 2px;
	width: 220px;
	height: 25px;
	padding: 4px 10px;
}
select {
    width: 170px;
}
.btn{
	margin: 0 0 8px 20px;
}
.container_form {
    background: #fff none repeat scroll 0 0;
    border-radius: 15px;
   margin: 0 0 0 0;
    padding: 1px 0;
}

/*****************888 custom css by owesome *****************/
.footer {
    border-top: medium none !important;

}
.cat_status {
    width: 338px !important;
}
.custom_container .orb-form{
	margin: 20px 0 30px 0px;
}
.custom_container .powerwidget .blue .powerwidget-sortable{
	margin-left:50px !important;
}
.custom_attribute .container_form {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}
.custom_attribute .btn{
	margin-top:0 !important;
	margin-left: 20px;
}
.custom_attribute .input-box{
	height: 26px !important;
}
textarea {
    min-height: 100px !important;
    width: 81% !important;
}
.custom_supplier .btn.btn-default{
	margin-bottom:20px !important;
}
.container_form {
    background: #fff none repeat scroll 0 0;
    border-radius: 15px;
    margin: 20px;
}

/** new css zeeshan **/

.max{
 width:27%;
 margin-top:10px;
}
.set {
     margin: 0 0 8px 20px;
  }