
@charset "utf-8";
/* CSS Document Created By Hardy@redchip.in */

*{
	padding:0px;
	margin:0px;
	border:0px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
ul, li{
	list-style:none;
}
a{
	color:#363636;
}
a, a:hover{
	text-decoration:none;
}
a:hover{
	color:#20ACFB;
}
textarea, input{
	max-width:100%;
}
html, body {
	background-color:#e5e6e5;
	height: 100%;
	min-height: 100%;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -205px;
}
.footer { border-top: 1px dashed #fff; }
.footer, .push {
	height: 205px;
}
.user_log{
	white-space:nowrap;
	text-align:center;
	background:#fff;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}
.top_link{
	border-left:1px #FFFFFF solid;
	padding-left:15px;
	background-size:contain;
	background-position:left center;
	background-repeat:no-repeat;
}
.tl_login{
	background-image:url(../images/tl_log.png);
}
.tl_reg{
	background-image:url(../images/tl_reg.png);
}
.tl_cart{
	background-image:url(../images/tl_cart.png);
}
.top_link:first-child{
	border-left:none;
}
.top_link a{
	color:#428BCA;
	font-style:italic;
	display:inline-block;
	padding:10px;
}
.top_link a:hover{
	color:#7d7d7d;
}
.dropdown-menu{
	width: 250px;
	padding:0px;
	margin-left:-95px;
}
.dropdown a{
	text-decoration:none;
}
.dropdown a:hover, .dropdown-menu li a:hover{
	color:#02BCCC;
}
.dropdown:hover .dropdown-menu {
    display: block;
 }
 .cart_items{
	 display:block;
	 width:100%;
 }
 .cart_items a{
	 display:inline-block;
	 width:60%;
	 white-space:normal;
 }
 .cart_items b{
	 display:inline-block;
	 width:40%;
	 color:#005bab;
 }
.cart_check{
	text-align:center;
	background:#7E7E7E;
	padding:10px;
}
.cart_check a{
	 display:inline-block !important;
 }
.logo{
	margin-top:5px;
}
.navmenu{
	margin:30px 0px 4px 10px;
	float:left;
}
.navmenu li{
	display:inline-block;
}
.navmenu li a{
	padding:14px 20px;
	font-size:16px;
}
.navmenu li a:hover, .nav_active a{
	background-color:#fff;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	color:#02BCCC;
}
.content{
	min-height: 490px;
	-moz-box-shadow: inset 0px 0px 80px 40px rgba(0, 0, 0, .3);
	-webkit-box-shadow: inset 0px 0px 80px 40px rgba(0, 0, 0, .3);
	box-shadow: inset 0px 0px 80px 40px rgba(0, 0, 0, .3);
	background-color: #CB9151;
	padding:50px 0px;
}
.content h1, .content h3{
	color:#fff;
}
.content h4{
	color:#F5DD00;
}
.view_detail h4:hover{
	color:#fff;
}
.page_content { padding:0 30px; }
.page_content p { margin-bottom:10px;  }
.page_content h1,.page_content h2, .page_content h2  { color:#000; font-size:30px; }
.purple {
	display: inline-block;
	margin: 10px 10px 10px 0;
	padding: 16px 8px;
	background-color: #73CCEE;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .2);
}
.purple .button {
	padding: 8px 25px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	color: #FFF;
	white-space: nowrap;
	background: #5a41ad;
	background: -moz-linear-gradient(top, #5a41ad 0%, #352674 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a41ad), color-stop(100%,#352674));
	background: -webkit-linear-gradient(top, #5a41ad 0%,#352674 100%);
	background: -o-linear-gradient(top, #5a41ad 0%,#352674 100%);
	background: -ms-linear-gradient(top, #5a41ad 0%,#352674 100%);
	background: linear-gradient(to bottom, #5a41ad 0%,#352674 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a41ad', endColorstr='#352674',GradientType=0 );
}
.purple .button:hover{
	background: #352674;
	background: -moz-linear-gradient(top, #352674 0%, #5a41ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#352674), color-stop(100%,#5a41ad));
	background: -webkit-linear-gradient(top, #352674 0%,#5a41ad 100%);
	background: -o-linear-gradient(top, #352674 0%,#5a41ad 100%);
	background: -ms-linear-gradient(top, #352674 0%,#5a41ad 100%);
	background: linear-gradient(to bottom, #352674 0%,#5a41ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#352674', endColorstr='#5a41ad',GradientType=0 );
}
.track_order{
	margin:10px 0px;
	cursor:pointer;
	width:235px;
}
.block_cont{
	margin-top:-120px;
}
.block h2{
	font-size:22px;
	width:80%;
    font-weight:bold;
	margin:10px auto;
}
.block h3{
	font-size:18px;

	width:80%;
	margin:10px auto;
}
.block{
	display:block;
	height:275px;
	text-align:center;
	color:#FFF;
	margin:10px 0px;
	cursor:pointer;
	padding:5px 0px;
	box-shadow:2px 2px 5px rgba(117,117,117,0.39);
	position: relative;
}
.block_hover{
	display:block;
	width:100%;
	background-color:#FFF;
	opacity:0;
	position: absolute;
    bottom:-50px;
    transition: 0s;
}
.block_hover .btn{
	margin:15px 5px;
}
.get_det{
	margin:18px 0px 0px 10px;
}
.get_det a{
	color:#0087cd;
}
.block:hover .block_hover{
	transition:0.5s;
	opacity:1;
	bottom:0px;
}
.block_black{
	background:url(../images/block_pic2.png) no-repeat 50% 70% #000;
}
.block_pink{
	background:url(../images/block_pic1.png) no-repeat 50% 70% #9F0063;
}
.block_yellow{
	background:url(../images/block_pic4.png) no-repeat 50% 70% #F09409;
}
.block_green{
	background:url(../images/block_pic3.png) no-repeat 50% 70% #419C39;
}
.block_violet{
	background:url(../images/block_pic5.png) no-repeat 50% 70% #684699;
}
.block_brown{
	background:url(../images/block_pic6.png) no-repeat 50% 70% #A05B34;
}
.print_triangles{
	height:300px;
	display:block;
	background:url(../images/Print-triangles.png) repeat-x center;
}

.fk-alert {  border: 1px solid #D22323; padding: 5px; background: none repeat scroll 0% 0% #FDF7DF; font-weight: bold; text-align: center; color: rgba(210, 35, 35, 1); }

.fk-alert a { font-weight:bold; }

.footer{
	clear:both;
	padding:20px 0px;
}
.footer h3{
	font-size:18px;
	color:#00A19F;
}
.footer a{
	font-size:14px;
}
.social_icos a{
	display:inline-block;
	width:32px;
	height:32px;
	margin:5px 2px;
}
.FB{
	background:url(../images/social_icos.png) no-repeat 3px 1px #2b6596;
}
.FB:hover, .GP:hover, .TW:hover{
	background-color:#00597B;
	transition:all 0.3s;
}
.GP{
	background:url(../images/social_icos.png) no-repeat 3px -32px #DB4239;
}
.TW{
	background:url(../images/social_icos.png) no-repeat 3px -64px #32ccfe;
}
.bottom_foot{
	background:#000;
	padding:10px 0px;
	color:#fff;
}
.bottom_foot a{
	color:#fff;
}
.bottom_foot a:hover{
	color:#20ACFB;
}
.copy_rights{
	font-size:12px; text-align:right;
}
.table-responsive { overflow-x: auto;
overflow-y: hidden; }
/*-----------Inner Pages---------*/
.proof-points li{
	display:inline-block;
	width:33%;
	text-align:center;
	border:1px solid #FFF;
	transition:ease-in 0.3s;
}
.proof-points li:hover a{
	color:#000;
}
.proof-points li a{
	display:block;
	padding:10px 0px;
	font-weight:bold;
	color:#474747;
}
.proof_click{
	background:url(../images/proofs.png) no-repeat 10px 5px #F3EBD2;
}
.proof_click:hover, .proof_del:hover,.proof_sameday:hover {
	background-color:#FFF;
}
.proof_del{
	background:url(../images/proofs.png) no-repeat 10px -28px #D5ECD2;
}
.proof_sameday{
	background:url(../images/proofs.png) no-repeat 10px -63px #C2ECEB;
}
.breadcrumbs li{
	display:inline-block;
	margin:10px;
}
.breadcrumb-divider{
	display:inline-block;
	width:8px;
	height:8px;
	background:url(../images/red-bullet.png) no-repeat center;
}
.breadcrumbs li a{
	color:#fff;
}
#fk-alert { margin-bottom:8px; }
.breadcrumbs li a:hover{
	color:#000;
}
.inner_content{
	background-color:#fff;
	padding:30px 0px;
	text-align:justify;
}
.inner_content h1{
	color: #0178CC;
	margin:5px;
	font-size: 24px;
text-align: center;
}
.inner_content h2{
	color:#00A19F;
	margin-bottom:30px;
}
.image_cont img{
	max-width:400px;
}
.descript{
	padding:10px 20px;
	text-align:justify;
}
.descript h3{
	color:#00A19F;
	border-bottom:1px dashed #00A19F;
	padding-bottom:10px;
}
.options{
	border:1px dashed #ccc;
	padding-left:10px;	padding-right:10px;	padding-bottom:10px;
	margin-top:10px;
	background:#F5F5F5;
}
.options h5{
	font-size:16px;
	color:rgba(32, 158, 251, 1);
	font-weight:bold;
}
.option_items { padding-right:10px; padding-bottom:5px; }
.option_items label{
	cursor:pointer;
	padding:10px 10px;
	width:100%;
}
.option_items label input{
	margin-right:10px;
}

.option_items input[type="radio"]:checked+label{ background:#b8dff0; transition:ease-in-out 0.3s; }

.option_items input[type="radio"] { display:none; }

.option_items label i{
	color:#005bab;
	font-style:normal;
	font-weight:400;
}
.option_items label:hover{
	background:#b8dff0;
	transition:ease-in-out 0.3s;
}
.cross_X{
	display:inline-block;
	font-size:24px;
	font-weight:bold;
	margin-left:4px;
}
.count_items{
	display:inline-block;
	padding-left:20px; vertical-align:middle; margin-bottom:10px;
}
.myerror{
	display:none;
	font-size:12px;
	color:#FF0004;
}
input.myerror{
	border:1px solid #FF0004;
}
.price_box{
	text-align:center;
	border:2px solid #29963D;
	border-radius:35px;
	margin:15px 0px;
}
.price_box h4{
	display:inline-block;
	font-size:20px;
	color:#F6631F;
	font-weight:bold;
}
.price_box span{
	display:block;
	font-size:16px;
	color:#005707;
	margin-bottom:-10px;
	margin-top:10px;
}
.delivery_span{
	display:block;
	margin-top:10px;
	padding:8px 0px 8px 50px;
	background:url(../images/proofs.png) no-repeat 0px -55px;
}
.delivery_span a{
	color:#940507;
}
/*-------Table Styles------------*/
#newspaper-a
{
	font-size: 12px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #69c;
	cursor:pointer;
}
#newspaper-a th
{
	padding: 6px 17px 6px 17px;
	font-weight: normal;
	font-size: 14px;
	color: #000;
	border-bottom: 1px dashed #69c;
	background-color:#74C9EC;
	text-align:center;
}
#newspaper-a tr
{
	border-bottom: 1px dashed #ccc;

}
#newspaper-a td
{
	padding: 5px 17px 5px 17px;
	color: #669;
	text-align:center;
}
#newspaper-a tbody tr:hover td
{
	color: #339;
	background: #d0dafd;
}
/*-------Form Styles------------*/
.form_contnt{
	background:url(../images/log_in.jpg) no-repeat left bottom #FFF;
}
.print_form{
	padding:50px 0px;
	margin-top:30px;
}
.print_form h2{
	color:#00A19F;
}
.print_form form{
	margin:20px;
}
.print_form input, .login_form .btn{
	border-radius:0px;
}
.print_form input:focus{
	outline:1px solid #00A19F;
	border:none;
}
/*--------Tabel Styles------------*/
.print_tables{
	min-height:400px;
	padding:20px 0px;
}
.print_tables table{
	cursor:cell;
}
.print_tables table th{
	background-color:#e5e6e5;
	color:#4F4F4F;
}
.print_tables .table-hover>tbody>tr:hover>td{
	background-color:#C8FAFE;
	transition:linear 0.3s;
}
.sidebox{
	background:url(../images/sidebx.png) no-repeat 95% 95%;
	padding-bottom:30px;
	margin-top:25px;
}
.side_cont{
	display:block;
}
.facebook_button {
	background:url(../images/facebook.jpg) no-repeat scroll 100% 0px #3A589B;
	color: #FFF;
	display: block;
	font-size: 12px;
	line-height: 37px;
	font-family: 'Open Sans',sans-serif;
	padding: 0px 42px 0px 0px;
	text-align: center;
	margin: 10px auto;
	margin-top:-40px;
}
 .gplus_button {
	background:url(../images/gplus.jpg) no-repeat scroll 100% 0px #e67b6e;
	color: #FFF;
	display: block;
	font-size: 12px;
	line-height: 37px;
	font-family: 'Open Sans',sans-serif;
	padding: 0px 42px 0px 0px;
	text-align: center;
	margin: 10px auto;
}
 .login_social{
	padding:0px 30px; 
	margin:170px 30px 0px;
	border-left:1px solid #ccc;
}
.divider{
	display:inline-block;
	width:48px;
	height:48px;
	background:url(../images/divider.jpg) no-repeat center;
	position:relative;
	left:-55px;
	top:30px;
}
/* File Upload Styles */
#upload-wrapper {
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}
#upload-wrapper .notice { margin-bottom: 10px;display: inherit;color: #E64343; }
#upload-wrapper input[type=file] {	border: 1px solid #DDD;	padding: 6px;	background: #FFF;	border-radius: 5px;	display:inline;}
input[type=checkbox].css-checkbox { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0;border:0;}
input[type=checkbox].css-checkbox + label.css-label {padding-left:20px;	height:15px; display:initial;line-height:15px;	font-size:15px;vertical-align:middle; cursor:pointer; font-weight:bold; }
input[type=checkbox].css-checkbox:checked + label.css-label { background-image:url(../images/lite-green-check-ok.png); }					
.css-label{ background-image:url(../images/lite-green-check.png); background-repeat: no-repeat;  background-position: left 4px; }
#upload-wrapper #submit-btn {	border: none;	padding: 8px;	background: #61BAE4;	border-radius: 5px;	color: #FFF;	display:inline;}
#output{	padding: 5px;	font-size: 12px;}
#output img {	border: 1px solid #DDD;	padding: 5px;}
#progressbox {	border: 1px solid #92C8DA;	padding: 1px; 	position:relative;	width:400px;	border-radius: 3px;	margin: 10px;	display:none;	text-align:left;}
#progressbar {	height:20px;	border-radius: 3px;	background-color: #77E0FA;	width:1%;}
#statustxt {	top:3px;	left:50%;	position:absolute;	display:inline-block;	color: #000000;}

.navmenu ul li ul {
	position:absolute; 
	top:65px; 
	z-index:999;
	-webkit-box-shadow: 0 1px 2px #333;
	-moz-box-shadow: 0 1px 2px #333;
	box-shadow: 0 1px 2px #333;
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}
.navmenu ul li.last ul { 
	left:auto;
	right:0px;
}
.navmenu ul li ul li {
	display:block;
	margin:0px;
	padding:8px 11px;
	height:38px;
}
.navmenu ul li ul li a{
	background:none;
}
.navmenu ul li ul li:hover{
	background:#000;
	transition:linear 0.3s;
}
.navmenu ul li ul li:hover a{
	background:none;
}
.navmenu li ul{
        display: none;
		background:#FFF;
}
.navmenu li:hover ul{
    display: block;
}
ul.navigationTabs {
	margin-top:-10px;
	margin-right:10px;
	display: block;
	text-align:center;
}
ul.navigationTabs li {
	float: left;
	list-style: none;
}
ul.navigationTabs li a.inactive {
	cursor: not-allowed;
}
ul.navigationTabs li a {
	background: #EEEEEE;
	border: 1px solid transparent;
	font-size: 16px;
	font-weight: bold;
	width:100%;
	display: inline-block;
	text-decoration: none;
	text-align:center;
	height:36px;
}
ul.navigationTabs a.active {
	background: #005BAB;
	color: #FFFFFF;
}
ul.navigationTabs a.active span.leftEmptyBlock.active {
	border-color: #005BAB #005BAB #005BAB #005BAB;
}
ul.navigationTabs a span.leftEmptyBlock {
	border-color: #EEEEEE #EEEEEE #EEEEEE #EEEEEE;
	border-style: solid;
	border-width: 18px;
	height: 0;
	width: 0;
	display: block;
	position: relative;
	float: left;
	left: -38px;
}
ul.navigationTabs a span.text {
	position: relative;
	top: 4px;
}
ul.navigationTabs a.active span.right {
	border-color: transparent transparent transparent #005BAB;
}
ul.navigationTabs a.active span.left {
	border-color: #005BAB #005BAB #005BAB transparent;
}
ul.navigationTabs a span.right {
	border-color: transparent transparent transparent #EEEEEE;
	border-style: solid;
	border-width: 18px;
	height: 0;
	width: 0;
	display: block;
	position: relative;
	float: right;
	top:-1px;
	right: -19px;
	border-right-width: 0px;
}
ul.navigationTabs a span.left {
	border-color: #EEEEEE #EEEEEE #EEEEEE transparent;
	border-style: solid;
	border-width: 18px;
	height: 0;
	width: 0;
	display: block;
	position: relative;
	float: left;
	top:-1px;
	left: -22px;
}
.color{
	display:inline-block;
	width:47%;
	border:2px solid #676767;
	background-color:#fff;
	padding:10px;
	cursor:pointer;
	margin:5px 0px;
	border-radius:5px;
}
.color:hover{
	background:url(../images/tick_hov.gif) no-repeat 95% 5% #F2FEF4;
	border:2px solid #2BE267;
	background-color:#fff;
}
i{ font-weight:normal; font-size: 14px; font-style: normal;}
label{
	display: initial;
	font-weight: normal;
}
input[type="radio"]:checked+label .select, input[type="radio"]:checked+label .select:hover{
	background:url(../images/tick_act.gif) no-repeat 95% 5% #fff;
	border:2px solid #2BE267;
}
.doc_viewer{
	text-align:center;
	background:url(../images/ipad.png) no-repeat center 98.5% #000;
	padding:25px 25px 45px;
	border-radius:10px;
}
.paper_type label{
	display:block;
	width:100%;
	font-weight:normal;
	padding:5px 10px;
	cursor:pointer;
}
.paper_type label:hover{
	background:#b8dff0;
	transition:linear 0.3s;
}

.preview_side .panel-primary{
	border-color:#f5f5f5;

	background:#f5f5f5;
}
.preview_side .panel-primary>.panel-heading{
	color: #fff;
	background-color: #005BAB;
	border:none;
	text-align:center;
}

h3.check_h3{
	color:#39b3ca;
}
.check_h3{
	background:url(../images/check-h3.png) repeat-x;
	padding:10px 0px;
	text-align:center;
	border-top: 3px solid #34AAFE;
}
.mycart{
	border:3px solid #ccc;
}
.mycart h3{
	color:#B60001;
	float:left;
	background:url(../images/tl_cart.png) no-repeat left center;
	padding:10px 40px;
	margin-left:10px;
}
.cart_head{
	border-bottom:2px solid #A60002;
	font-weight:700;
	color:#535151;
}
.mycart .table{
	margin-bottom:0px;
}
.delivery_text{
	display:block;
}
span.delivery_text b{
	color:#019E00;
	font-size:12px;
}
.gran_total{
	display:block;
	text-align:left;
}
.gran_total .delivery_text{
	font-size:11px;
	text-align:left;
}
.gran_total b{
	font-size:18px;
	color:#0178CC;
}

/*-----------------------left side bar-------------------------*/

#left-menu {
	transition: all 0.3s ease;
	position: fixed;
	width: 0%;
	top: 15%;
	left: -350px;
	color:#fff;
	background:#ED9728;
	z-index: 999;
	box-shadow: 0px 0px 10px black;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px;
}
#left-menu-toggle {
	position: fixed;
	top: 30%;
	left: -2px;
	z-index: 1000;
	transition: all 0.3s ease;
}
#left-menu-toggle:hover {
	cursor: pointer;
}
#left-menu.left-open {
	left: 0;
	width: 350px;
	display: block;
}
#left-menu-toggle.left-open {
	left: 350px;
}
/*-----------------------right side bar-------------------------*/

#right-menu {
	transition: all 0.3s ease;
	position: fixed;
	width: 0%;
	top: 15%;
	right: -350px;
	color:#fff;
	background:#652f85;;
	z-index: 999;
	box-shadow: 0px 0px 10px black;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
}
#right-menu-toggle {
	position: fixed;
	top: 28%;
	right: -2px;
	z-index: 1000;
	transition: all 0.3s ease;
}
#right-menu-toggle:hover {
	cursor: pointer;
}
#right-menu.right-open {
	right: 0;
	width: 350px;
	display: block;
}
#right-menu-toggle.right-open {
	right: 350px;
}
.order_status_diag{
	text-align:center;
}
.order_status_diag li{
	display:inline-block;
}
.order_status_diag li a{
	padding:15px;
	color:#700001;
}
.order_status{
	display:block;
	width:100%;
	height:30px;
	margin-top:20px;
	border-left:1px dotted #ccc;
	border-right:1px dotted #ccc;
}
.order_status hr{
	position: relative;
	bottom: -15px;
	border-color:#DDDDDD;
}
i.order_circle{
	content:"";
	display:block;
	width:15px;
	height:15px;
	background:#ccc;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	position:relative;
	top:-13px;
	margin:auto;
}
i.order_circle.green{
	background:#019B00;
}
.my_order{
	border:2px solid #8C8C8C;
}
.my_order h3{
	color:#940306;
	text-align:center;
}
@media (max-width:1200px){
.block_cont{
	clear:both;
	margin-top:0px;
}
}
@media (max-width:990px){
.logo {
	text-align: center;
}
.content{
	text-align:center;
}
.track_order{
	margin:10px auto;
}
.navmenu{
	float:none;
	clear:both;
	text-align:center;
}
.user_log{
	float:none;
	text-align:center;
	margin-bottom: 10px;
}
ul.navigationTabs a span.text {
	margin-left: -46px;
	text-align: right;
}
ul.navigationTabs li:first-child a span.text {
	margin-left: 0px;
}
ul.navigationTabs a span.text{
	top:8px;
}
ul.navigationTabs li a{
	font-size: 13px;
}
.navmenu li a:hover, .nav_active a{
	background-color:#fff;
	border-radius:10px;
}
.navmenu ul li ul {
	top:30px;
	border-radius:4px;
}
.footer{
	text-align:center;
}
.proof-points li{
	display:block;
	width:100%;
	margin:-1px;
}
.login_social{
	margin:0px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
 }
.divider{
	display:none;
}
}
@media (max-width:762px){

}
@media (max-width:674px){
.logo{
	float:none;
}
.navmenu li a:hover, .nav_active a{
	border-radius:10px;
}
}
@media (max-width:674px){
ul.navigationTabs li{
		float:none;
		width:100%;
		margin-bottom:10px;
}
ul.navigationTabs a span.left{
		display:none;
}
ul.navigationTabs a span.text {
	margin-left: 0px;
}
}
@media (max-width:535px){
.header{
	text-align:center;
}
.logo{
	margin-bottom:10px;
}
.navmenu{
	clear:both;
	display:block;
	text-align:center;
	margin:0px;
	line-height:24px;
	float:none;
}
.navmenu li{
	display:block;
	margin:10px 0px;
}
.navmenu li a{
	display:block;
	padding:15px 20px;
	font-size:16px;
	width:100%;
}
.navmenu li a:hover, .nav_active a{
	background-color:#fff;
	border-radius:10px;
}
.navmenu ul li ul{
	display:none;
}
.navmenu li:hover ul{
     display:none;
}
}


/* style for album */
/*
my code
*/
.info_head{color:#5cb85c;}
.add_photo{background-image:url(../images/gallery/adds-add-file-icon.png);}
.delete_photo{background-image:url(../images/gallery/editing-delete-icon.png) ;}
.panel_bag{  background-color:rgba(0,0,0,.03);}


	
	
	.proof-points ul li{font-family: 'Montserrat',sans-serif;
 text-align: center;
  color: #f37937;
  font-size: 15px;
  font-weight: 400;
    text-align: center;
 
  }
/*my code */

#upload-icon {
  padding: 0;
  background:url(../images/gallery/upload.jpg)  no-repeat;
  display: block;
  width: 64px;
  height: 42px;
  cursor: pointer;
 
  filter: alpha(opacity=70);
  margin: 8px auto;
  background-size: contain;
}

.select-up {
  background:url(../images/gallery/upload.jpg)  no-repeat;
  background-size: cover;
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
 
}
#image_src {
  width: 60px;
  height: 60px;
  margin-right: 100px;
   cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); /* IE 5-7 */
}







.sidebar-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.albumsthumbnail {
    border: 0 none;
    max-width: 200px;
    min-height: 268px;
	margin-bottom: 0;
    margin-top: 0;
	float:left;
	padding-top: 5px;
	
}

.caption {
	padding-top: 20px;
	width:auto;
}
.caption h3 {
	font-size: 13px;
	color: #f37937;
	margin-top: 5px;
	margin-bottom: 6px;
	font-family: Montserrat, sans-serif;
	text-align: center;
}


.albumsthumbnail .caption {
	padding-top: 10px;
	width:auto;
}
.albumsthumbnail .caption h3 {
	font-size: 13px;
	color: #47B5E0;
	margin-bottom: 19px;
	font-weight:bold;
    margin-top: 2px;
	font-family: Montserrat, sans-serif;
	text-align: center;
}


.caption h3 a{	color: #47B5E0;}

.caption h3 a:hover{
	text-decoration:none;
}
.caption span {
	font-family:"Source Sans Pro", sans-serif;
	color: #7c7c7c;
	font-size: 12px;
	display: block;
	text-align: center;
}
.newAlbum {
	border: 1px solid #cfcfcf;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	width: auto;
}
.newAlbum img {
	width: 100%;
	height: auto;
}
.gridblock img {
	max-width: 100%;
	height:200px;
	
}
.gridblock {
	display: block;
	width: 100%;
	cursor: pointer;
	background: #f5f5f5;
	height: 250px;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 7px solid #FFF;
	/*-moz-box-shadow: 0 0 1px 0 rgba(0,0,0,0.50), 0 3px 0 0 #FFFFFF, 0 4px 0 0 #DADADA, 0 6px 0 0 #FFFFFF, 0 7px 0 0 #DADADA, 0 6px 0 0 #DADADA;
	-webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.50), 0 3px 0 0 #FFFFFF, 0 4px 0 0 #DADADA, 0 6px 0 0 #FFFFFF, 0 7px 0 0 #DADADA, 0 6px 0 0 #DADADA;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.50), 0 3px 0 0 #FFFFFF, 0 4px 0 0 #DADADA, 0 6px 0 0 #FFFFFF, 0 7px 0 0 #DADADA, 0 6px 0 0 #DADADA;*/
}
.gridblock:hover {
	border: 7px solid #477AD5;
}

.gridblock {
	border: 7px solid #CADCFC;
}

.newalbumspace {
	background-color:#47B5E0;
	cursor: pointer;
}
.newalbumspace:hover {background: #F09409;}

img .newalbumicon {
	width: 100%;
	height: auto;
}

.noalbums {
    background: none repeat scroll 0 0 #FBEDD7;
    border: 1px solid #EDBF76;
    display: block;
    height: 300px;
     margin: 22px auto;
    padding: 80px 30px 50px;
    position: relative;
    text-align: center;
    width: 100%;
}
.noalbums span {
    color: #E79815;
    display: block;
    padding-top: 20px;
}
.noalbums a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #EDBF76;
    border-radius: 4px;
    color: #E79815;
    display: block;
    font-size: 12px;
    margin: 20px auto;
    padding: 6px 24px;
    text-align: center;
	width: 161px;
	height: 20%;
}

select.sort {
    padding: 5px 40px 5px 8px;
}
select.sort, select.size, select.finish {
    background: url("../../images/icons/icn-arrow.png") no-repeat scroll 92% 10px padding-box #FFFFFF;
    border: 1px solid #C6CCD6;
    border-radius: 4px;
    /*box-shadow: 0 1px 2px rgba(177, 184, 195, 0.5);*/
    color: #5F6A7C;
    font-size: 11px;
    font-weight: 700;
    outline: 0 none;
	width: 220px;
}

.creationsthumbnail {
	position:relative;
	max-width: 156px;
	min-height: 260px;
	border: 0;
	margin-top: 20px;
	/*-webkit-border-radius: 4px;*/
	/*-moz-border-radius: 4px;*/
	/*border-radius: 4px;*/
	/*border: 7px solid #FFF;*/
	/*-moz-box-shadow: 0 0 1px 0 rgba(0,0,0,0.50);*/
	/*-webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.50);*/
	/*box-shadow: 0 0 1px 0 rgba(0,0,0,0.50);*/

}

/*.creationsthumbnail:hover{
	border: 7px solid #fce9ca;
}*/

.gridblockcreation a{
	display:block;
	vertical-align:middle;
	height:auto;
}

.gridblockcreation img {
	margin-top:15px;
	height:103px !important;
	width:auto;
	/*max-width:100%;
	max-height:103px;
	max-height: 120px;
    max-width: 120px;*/
}
#loadcreations .col-md-3 {
    width: 20%;
}
.gridblockcreation .iconztile img {
	width: auto;
	height: auto;
}
.gridblockcreation {
	display: block;
	width: 100%;
	/*background: #fff;*/
	height: 70px;
	position: relative;
}
.gridblockcreation:hover {
}

.creationsthumbnail .caption{width:auto;}
.creationthumb {
	position: relative;
	display: block;
	background: #f5f5f5;
	max-width: 70%;
	text-align: center;
	margin: 10px auto;
	margin-bottom: 0;
}
.picBox, .gridblock, .creationthumb img {
	/*width: 100% !important;*/
	width: 200px !important;
	height: 200px !important;
	display: block;
}
.gridblock{
	text-align:center;
	overflow: hidden;
}
/*End style for album */



/*style for album View */

.sidebar-title1 p.easyprintheadtext{
		color:#5F6A7C;
		margin:5px 0 0;
		 font-size: 13px;
	}
	.panelsuccess {
    background: url("../../images/common/ajax-loader.gif") no-repeat scroll 0 56% rgba(0, 0, 0, 0) !important;
    display: none;
    padding: 0;
    position: absolute;
    width: 16px;
    margin-left: 4px;
}
	.sidebar-title1 p.easyprintheadtext strong{color:#F37937;}
	p.easyprintheadtext{
  margin-top:-4px;
}
.sidebar-options .btn-group1 .selectpicker {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 14px;
  background: none;
  border: 0;
  border-bottom: 1px solid #9ed0ea;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.sidebar-options .btn-group1.size {
  width: 75px !important;
}
sidebar-options .btn-group1 {
  width: 83px !important;
  margin-bottom: 0;
}
.bootstrap-select.btn-group1 {
  display: inline-block;
  float: none;
  margin-bottom: 0px;
  margin-left: 0;
}
.btn-group1, .btn-group-vertical1 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.sidebar {
    position: relative;
    display: inline-block;
    background: #fff;
    margin-top: 30px;
    border: 1px solid #c6ccd6;
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    /*padding-top: 30px;*/
    padding-left: 5px;
    width: 25%;
    min-height: 450px;
    float: right;
    text-align: left;
    border-left: 0;
}

.sidebar.active{
  display:block;
}


.sidebar.stuck {
        position: fixed;
        top: 0;
}


    .sidebar .sidebar-title, .sidebar-top .sidebar-title {
        color: #f37937;
        font-weight: 400;
        position: relative;
        margin: 0 auto;
        width: 90%;
        height: auto;
        padding-bottom: 10px;
        border-bottom: 1px solid #c6ccd6;
    }
	
	.sidebar-title {
		padding-top:5px;
		overflow:hidden;		
	}
	
	.sidebar-title p.easyprintheadtext{
		color:#5F6A7C;
		margin:5px 0 0;
		 font-size: 13px;
	}
	.sidebar-title p.easyprintheadtext strong{color:#F37937;}

    .sidebar .sidebar-options, .sidebar .sidebar-print-options, .sidebar .sidebar-btn-options {
        position: relative;
        margin: 0 auto;
        width: 90%;
        height: 65px;
        padding: 5px 0 15px 0;
        border-bottom: 1px solid #e6eaf1;
    }
	img.select-image {
    margin-top: 10px;
    text-align: left;
    cursor: pointer;
}

.reveal-label {
    position: absolute;
    display: none;
    z-index: 5;
}

    .reveal-label.active {
        display: block;
    }

.regular-label {
    display: none;
    background: url(../../images/icons/icn-unchecked.png) no-repeat;
    height: 36px;
    width: 39px;
    margin-left: 146px;
    margin-top: 5px;
}

.regular-label-inactive {
    display: block;
}

.regular-label-active {
    display: block;
    background: url(../../images/icons/icn-checked.png) no-repeat;
    height: 36px;
    width: 39px;
}

input.quantity {
    display: block;
    border: 0;
    border-bottom: 1px solid #9ed0ea;
	border-top: 1px solid #9ed0ea;
    background: none;
    outline: none;
    padding: 7px 10px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #333;
	width:100%;
}
div .sidebar-options{padding-left:15px;}
.sidebar-options label {
    display: inline-block;
    float: left;
    margin-right: 10px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
}

    .sidebar-options label span.info {
        display: block;
        clear: both;
        margin: 5px 0 0;
        font-weight: normal;
        font-size: 11px;
        text-align: center;
    }
	.sidebar-options .btn-group1 .selectpicker:hover {
            background: none;
        }
		
		.sidebar-options .btn-group1.open .dropdown-toggle, .sidebar-options .btn-group1 .dropdown-toggle:focus, .sidebar-options .btn-group1 .dropdown-toggle:active {
    box-shadow: none;
}

select.sort, select.size, select.finish {
    color: #5F6A7C;
    font-size: 11px;
    font-weight: 400;
    background: #fff url(../../images/icons/icn-arrow.png) no-repeat 92% 10px;
    outline: 0;
    border: 1px solid #c6ccd6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*-moz-box-shadow: 0 1px 2px rgba(177,184,195,.5);
    -webkit-box-shadow: 0 1px 2px rgba(177,184,195,.5);
    box-shadow: 0 1px 2px rgba(177,184,195,.5);*/
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    appearance: none;
}

    select.finish::-ms-expand {
        visibility: hidden;
    }

select.sort {
    padding: 5px 30px 5px 8px;
    margin-top: -2px;
    width: 194px;
}
.sidebar .sidebar-btn-options {
    margin-top: 5px;
    border-bottom: 0;
    text-align: center;
}

    .sidebar .sidebar-btn-options button {
        font-family: 'Source Sans Pro';
        font-weight: 400;
        width: 98px;
        text-align: left;
        float: left;
        margin-left: 15px;
    }

        .sidebar .sidebar-btn-options button.btn-info {
            background: #fff;
            color: #f37937;
            position: relative;
            display: block;
            font-size: 14px;
            width: 110px;
            border: 1px solid #c6ccd6;
            outline: none;
            -webkit-appearance: none;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
        }
		  .sidebar .sidebar-btn-options * {
        float: left;
    }

    .sidebar .sidebar-btn-options button {
        margin-right: 20px;
    }

        .sidebar .sidebar-btn-options button.btn-info {
            margin-top: 0;
            margin-right: 0;
        }

    .sidebar .sidebar-btn-options p {
        margin: 0;
        width: 100%;
    }

@media (max-width: 768px) {
    /* .sidebar Start */
    .sidebar-options .btn-group.size, .sidebar-options .btn-group.size .selectpicker, .sidebar-options .btn-group.size .selectpicker, .sidebar-options .btn-group, .bootstrap-select > .btn {
        width: 108px !important;
    }
	
    .sidebar .sidebar-btn-options p {
        margin-top: 5px;
    }

    .sidebar-print-options {
        border-top: 0;
    }

    #mobiledisplay {
        display: block;
    }
	.sidebar-title {
	  display:none;
	}

    
}

@media (max-width: 800px) {
    /* .sidebar Start */
    .sidebar-options .btn-group.size, .sidebar-options .btn-group.size .selectpicker, .sidebar-options .btn-group.size .selectpicker, .sidebar-options .btn-group, .bootstrap-select > .btn {
        width: 108px !important;
    }
	
    .sidebar .sidebar-btn-options p {
        margin-top: 5px;
    }

    .sidebar-print-options {
        border-top: 0;
    }

    #mobiledisplay {
        display: block;
    }
	.sidebar-title {
	  display:none;
	}
}

/*End style for album */