DIV.gj-grid-wrapper {
    margin: auto;
    position: relative;
    clear:both;
}

TABLE.gj-grid-table {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

TABLE.gj-grid-table THEAD TH.gj-grid-thead-sortable
{
    cursor: pointer;
}

TABLE.gj-grid-table THEAD TH #checkAllBoxes
{
    margin: auto;
}

TABLE.gj-grid-table > tbody > tr > td
{
    cursor: default;
    overflow: hidden;
}

TABLE.gj-grid-table TFOOT TH.ui-grid-pager-cell
{
    height: 20px;
    padding: 0px;
    cursor: default;
    border: 1px solid menutext;
    -moz-user-select: none;
    -khtml-user-select: none;

}

TABLE.gj-grid-table TFOOT DIV.ui-grid-icon
{
    margin: 0 2px;
    cursor: pointer;
    overflow: visible;
}

TABLE.gj-grid-table TFOOT DIV.ui-grid-pager
{
    overflow: hidden;
}

TABLE.gj-grid-table TFOOT INPUT.ui-grid-pager
{
    padding: 1px;
    width: 26px;
    height: 17px;
    font: bold 11px Verdana;
    margin: 0 5px;
    text-align: right;
}

TABLE.gj-grid-table TFOOT SELECT.ui-grid-page-sizer
{
    padding: 0px;
    height: 17px;
    font: bold 11px Verdana;
    margin: 0 5px;
    text-align: right;
    width: 50px;
}

.gj-grid-wrapper TABLE.gj-grid-table DIV
{
    vertical-align: middle;
    text-indent: 0;
    display: inline-block;
}

DIV.gj-grid-wrapper DIV.gj-grid-loading-cover
{
    background: #BBBBBB;
    opacity: 0.5;
    position: absolute;
    vertical-align: middle;
}

DIV.gj-grid-wrapper DIV.gj-grid-loading-text
{
    position: absolute;
    font-weight: bold;
}

.gj-dirty {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px;
    border-color: #f00 transparent transparent #f00;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
}



@media only all {
    th.display-1120,
    td.display-1120,
    th.display-960,
    td.display-960,
    th.display-800,
    td.display-800,
    th.display-640,
    td.display-640,
    th.display-480,
    td.display-480,
    th.display-320,
    td.display-320 {
        display: none;
    }
}


@media screen and (min-width: 20em) {
    TABLE.gj-grid-table th.display-320,
    TABLE.gj-grid-table td.display-320 {
        display: table-cell;
    }
}

@media screen and (min-width: 30em) {
    TABLE.gj-grid-table th.display-480,
    TABLE.gj-grid-table td.display-480 {
        display: table-cell;
    }
}

@media screen and (min-width: 40em) {
    TABLE.gj-grid-table th.display-640,
    TABLE.gj-grid-table td.display-640 {
        display: table-cell;
    }
}

@media screen and (min-width: 50em) {
    TABLE.gj-grid-table th.display-800,
    TABLE.gj-grid-table td.display-800 {
        display: table-cell;
    }
}

@media screen and (min-width: 60em) {
    TABLE.gj-grid-table th.display-960,
    TABLE.gj-grid-table td.display-960 {
        display: table-cell;
    }
}

@media screen and (min-width: 70em) {
    TABLE.gj-grid-table th.display-1120,
    TABLE.gj-grid-table td.display-1120 {
        display: table-cell;
    }
}



div.gj-grid-wrapper div.gj-grid-ui-toolbar {
    border-top: 1px solid menutext;
    border-left: 1px solid menutext;
    border-right: 1px solid menutext;
    border-bottom: 0px;
    padding: 2px;
    font: 11px Verdana;
}

TABLE.gj-grid-ui-table {
    font: 11px Verdana;
    border-left: 1px solid;
    border-top: 0px;
    border-right: 1px solid;
    border-bottom: 0px;
    padding: 0px;
    border-spacing: 0px;
}

table.gj-grid-ui-table thead tr th.gj-grid-ui-thead-th {
    height: 20px;
    padding: 0px;

    white-space: normal;
    vertical-align: middle;
    border: 1px solid;
    border-spacing: 0px;
    border-collapse: collapse;
    border-color: menutext;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
}

table.gj-grid-ui-table thead tr th:first-child {
    border-left: 0px;
}

table.gj-grid-ui-table thead tr th div
{
    padding: 2px;
    vertical-align: middle;
    display: inline-block;
}

table.gj-grid-ui-table thead tr th span.gj-grid-ui-thead-th-sort-icon
{
    vertical-align: middle;
    display: inline-block;
}

table.gj-grid-ui-table tbody tr.ui-state-hover
{
    border: 0px;
}

TABLE.gj-grid-ui-table > tbody > tr > td
{
    padding: 0px;
    border-left: 1px solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid;
    border-color: menutext;
}

TABLE.gj-grid-ui-table > tbody > tr > td:first-child
{
    border-left: 0px;
}

TABLE.gj-grid-table > tbody > tr > td > div
{
    padding: 2px;
    overflow: hidden;
}



div.gj-grid-wrapper div.gj-grid-bootstrap-toolbar {
    background-color: #f5f5f5;
    padding: 8px;
    font-weight: bold;
    border: 1px solid #ddd;
}

TABLE.gj-grid-table tfoot tr th.gj-grid-bootstrap-tfoot-cell {
    line-height: 30px;
    background-color: #f5f5f5;
}

TABLE.gj-grid-table thead tr th.gj-grid-bootstrap-thead-cell {
    background-color: #f5f5f5;
    vertical-align:middle;
}
